Repository smykla-labs/research: changes, and which lefthook commands are due for each by the changed paths.
All: lint-python, test-python

lefthook.yml:

# Lefthook configuration for .claude/ script testing
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    lint-python:
      glob: "**/*.py"
      run: mise exec -- ruff check {staged_files}

    test-python:
      glob: ".claude/skills/**/scripts/*.py"
      run: |
        echo "üêç Running Python tests for changed scripts..."
        .venv/bin/pytest tests/test_find_space.py -v --tb=short
        echo "‚úÖ Python tests passed!"

pre-push:
  parallel: false
  commands:
    test-claude-scripts:
      glob: ".claude/{commands,agents}/**/*.md"
      run: |
        # Source the coverage helper
        source spec/support/script_coverage.sh

        # Check each staged file for bash scripts
        SCRIPTS_WITH_TESTS=()
        SCRIPTS_WITHOUT_TESTS=()

        for file in {staged_files}; do
          # Skip if file doesn't exist (deleted)
          [ -f "$file" ] || continue

          # Skip if no bash scripts in file
          grep -q $'```bash' "$file" 2>/dev/null || continue

          if has_tests "$file"; then
            SCRIPTS_WITH_TESTS+=("$file")
          else
            SCRIPTS_WITHOUT_TESTS+=("$file")
          fi
        done

        # Run tests for scripts that have them
        if [ ${#SCRIPTS_WITH_TESTS[@]} -gt 0 ]; then
          echo "üìã Running tests for staged .claude/ scripts:"
          SPECS=()
          for script in "${SCRIPTS_WITH_TESTS[@]}"; do
            spec=$(get_spec_path "$script")
            echo "   $script -> $spec"
            SPECS+=("$spec")
          done
          echo ""

          shellspec "${SPECS[@]}" || exit 1
          echo ""
          echo "‚úÖ All tests passed!"
        fi

        # Warn about untested scripts (but don't block)
        if [ ${#SCRIPTS_WITHOUT_TESTS[@]} -gt 0 ]; then
          echo ""
          echo "‚ö†Ô∏è  Warning: Scripts without tests:"
          for script in "${SCRIPTS_WITHOUT_TESTS[@]}"; do
            expected=$(get_spec_path "$script")
            echo "   $script"
            echo "      Create: $expected"
          done
        fi

    check-test-coverage:
      glob: ".claude/{commands,agents}/**/*.md"
      run: |
        source spec/support/script_coverage.sh

        echo "üìä Checking script test coverage..."
        echo ""

        # Run coverage check - blocks commit if scripts lack tests
        if ! check_coverage; then
          echo ""
          echo "‚ùå Commit blocked: All .claude/ scripts with bash must have tests"
          exit 1
        fi

chore(gitignore): add Python and direnv patterns
  .gitignore
Due: none

refactor(agents): overhaul worktree management
  .claude/agents/worktree-manager.md
  .claude/agents/worktree-reviewer.md
  .claude/commands/git/worktree.md
  .claude/commands/review/worktree.md
Due: none

feat(agents): add shellspec test checking
  .claude/agents/command-reviewer.md
Due: none

docs(ai): add Claude Code extensibility guide
  ai/claude-code-extensibility-guide.md
Due: none

feat(skills): add macOS Window Controller skill
  .claude/skills/macos-window-controller/SKILL.md
  .claude/skills/macos-window-controller/pyproject.toml
  .claude/skills/macos-window-controller/scripts/window_controller.py
  .gitignore
  tests/test_window_controller.py
Due: lint-python, test-python

refactor(skills): modularize Window Controller
  .claude/skills/macos-window-controller/SKILL.md
  .claude/skills/macos-window-controller/scripts/__init__.py
  .claude/skills/macos-window-controller/scripts/__main__.py
  .claude/skills/macos-window-controller/scripts/actions.py
  .claude/skills/macos-window-controller/scripts/cli.py
  .claude/skills/macos-window-controller/scripts/core.py
  .claude/skills/macos-window-controller/scripts/models.py
  .claude/skills/macos-window-controller/scripts/window_controller.py
  .claude/skills/macos-window-controller/uv.lock
Due: lint-python, test-python

refactor(skills): modularize Space Finder
  .claude/skills/macos-space-finder/SKILL.md
  .claude/skills/macos-space-finder/scripts/__init__.py
  .claude/skills/macos-space-finder/scripts/__main__.py
  .claude/skills/macos-space-finder/scripts/actions.py
  .claude/skills/macos-space-finder/scripts/cli.py
  .claude/skills/macos-space-finder/scripts/core.py
  .claude/skills/macos-space-finder/scripts/find_space.py
  .claude/skills/macos-space-finder/scripts/models.py
  tests/test_find_space.py
Due: lint-python, test-python

fix(skills): handle plist read errors
  .claude/skills/macos-window-controller/scripts/__init__.py
  .claude/skills/macos-window-controller/scripts/core.py
  .claude/skills/macos-window-controller/scripts/models.py
Due: lint-python, test-python

fix(skills): prevent screenshot race condition
  .claude/skills/macos-window-controller/scripts/actions.py
Due: lint-python, test-python

test(skills): add Window Controller tests
  .claude/skills/macos-window-controller/tests/__init__.py
  .claude/skills/macos-window-controller/tests/test_window_controller.py
Due: lint-python

chore(skills): add pyproject.toml to Space Finder
  .claude/skills/macos-space-finder/pyproject.toml
Due: none

refactor(skills): consolidate SPACES_PLIST_PATH
  .claude/skills/macos-window-controller/scripts/__init__.py
  .claude/skills/macos-window-controller/scripts/core.py
  .claude/skills/macos-window-controller/scripts/models.py
Due: lint-python, test-python

refactor(skills): unify sanitize_app_name
  .claude/skills/macos-space-finder/scripts/actions.py
  .claude/skills/macos-window-controller/scripts/actions.py
  .claude/skills/macos-window-controller/tests/test_window_controller.py
Due: lint-python, test-python

chore(skills): add uv.lock to Space Finder
  .claude/skills/macos-space-finder/uv.lock
Due: none

refactor(skills): relocate Space Finder tests
  .claude/skills/macos-space-finder/tests/__init__.py
  .claude/skills/macos-space-finder/tests/test_find_space.py
Due: lint-python

refactor(skills): shorten exception class name
  .claude/skills/macos-space-finder/scripts/__init__.py
  .claude/skills/macos-space-finder/scripts/actions.py
  .claude/skills/macos-space-finder/scripts/cli.py
  .claude/skills/macos-space-finder/scripts/models.py
  .claude/skills/macos-space-finder/tests/test_find_space.py
Due: lint-python, test-python

refactor(skills): make WindowInfo frozen dataclass
  .claude/skills/macos-window-controller/scripts/core.py
  .claude/skills/macos-window-controller/scripts/models.py
  .claude/skills/macos-window-controller/tests/test_window_controller.py
Due: lint-python, test-python

feat(skills): add JSON output to Space Finder
  .claude/skills/macos-space-finder/scripts/cli.py
  .claude/skills/macos-space-finder/scripts/models.py
  .claude/skills/macos-space-finder/tests/test_find_space.py
Due: lint-python, test-python

docs(skills): update SKILL.md examples and docs
  .claude/skills/macos-space-finder/SKILL.md
  .claude/skills/macos-window-controller/SKILL.md
Due: none

docs(ai): add skills development specification
  ai/skills-development-spec.md
Due: none

refactor(skills): freeze WindowFilter dataclass
  .claude/skills/macos-window-controller/scripts/models.py
Due: lint-python, test-python

feat(skills): add macOS Verified Screenshot skill
  .claude/skills/macos-space-finder/tests/__init__.py
  .claude/skills/macos-space-finder/tests/test_space_finder.py
  .claude/skills/macos-verified-screenshot/SKILL.md
  .claude/skills/macos-verified-screenshot/pyproject.toml
  .claude/skills/macos-verified-screenshot/scripts/__init__.py
  .claude/skills/macos-verified-screenshot/scripts/__main__.py
  .claude/skills/macos-verified-screenshot/scripts/actions.py
  .claude/skills/macos-verified-screenshot/scripts/cli.py
  .claude/skills/macos-verified-screenshot/scripts/core.py
  .claude/skills/macos-verified-screenshot/scripts/models.py
  .claude/skills/macos-verified-screenshot/tests/__init__.py
  .claude/skills/macos-verified-screenshot/tests/test_verified_screenshot.py
  .claude/skills/macos-verified-screenshot/uv.lock
  .claude/skills/macos-window-controller/tests/__init__.py
Due: lint-python, test-python

refactor(skills): consolidate to uv workspace
  .claude/skills/macos-space-finder/pyproject.toml
  .claude/skills/macos-space-finder/space_finder/__init__.py
  .claude/skills/macos-space-finder/space_finder/__main__.py
  .claude/skills/macos-space-finder/space_finder/actions.py
  .claude/skills/macos-space-finder/space_finder/cli.py
  .claude/skills/macos-space-finder/space_finder/core.py
  .claude/skills/macos-space-finder/space_finder/models.py
  .claude/skills/macos-space-finder/tests/__init__.py
  .claude/skills/macos-space-finder/uv.lock
  .claude/skills/macos-verified-screenshot/pyproject.toml
  .claude/skills/macos-verified-screenshot/tests/__init__.py
  .claude/skills/macos-verified-screenshot/uv.lock
  .claude/skills/macos-verified-screenshot/verified_screenshot/__init__.py
  .claude/skills/macos-verified-screenshot/verified_screenshot/__main__.py
  .claude/skills/macos-verified-screenshot/verified_screenshot/actions.py
  .claude/skills/macos-verified-screenshot/verified_screenshot/cli.py
  .claude/skills/macos-verified-screenshot/verified_screenshot/core.py
  .claude/skills/macos-verified-screenshot/verified_screenshot/models.py
  .claude/skills/macos-window-controller/pyproject.toml
  .claude/skills/macos-window-controller/tests/__init__.py
  .claude/skills/macos-window-controller/tests/test_window_controller.py
  .claude/skills/macos-window-controller/uv.lock
  .claude/skills/macos-window-controller/window_controller/__init__.py
  .claude/skills/macos-window-controller/window_controller/__main__.py
  .claude/skills/macos-window-controller/window_controller/actions.py
  .claude/skills/macos-window-controller/window_controller/cli.py
  .claude/skills/macos-window-controller/window_controller/core.py
  .claude/skills/macos-window-controller/window_controller/models.py
  .gitignore
  ai/skills-development-spec.md
  pyproject.toml
  tests/skills/__init__.py
  tests/skills/conftest.py
  tests/skills/test_space_finder.py
  tests/skills/test_verified_screenshot.py
  tests/skills/test_window_controller.py
  uv.lock
Due: lint-python

refactor(skills): remove MCP from space-finder
  .claude/skills/macos-space-finder/SKILL.md
Due: none

feat(skills): add macOS screen recorder skill
  .claude/skills/macos-screen-recorder/SKILL.md
  .claude/skills/macos-screen-recorder/pyproject.toml
  .claude/skills/macos-screen-recorder/screen_recorder/__init__.py
  .claude/skills/macos-screen-recorder/screen_recorder/__main__.py
  .claude/skills/macos-screen-recorder/screen_recorder/actions.py
  .claude/skills/macos-screen-recorder/screen_recorder/cli.py
  .claude/skills/macos-screen-recorder/screen_recorder/core.py
  .claude/skills/macos-screen-recorder/screen_recorder/models.py
Due: lint-python

test(skills): add screen recorder unit tests
  pyproject.toml
  tests/skills/conftest.py
  tests/skills/test_screen_recorder.py
  tests/skills/test_screen_recorder_actions.py
  tests/skills/test_screen_recorder_conversion.py
  tests/skills/test_screen_recorder_core.py
  tests/skills/test_screen_recorder_integration.py
  tests/skills/test_screen_recorder_verification.py
  uv.lock
Due: lint-python

build(deps): add hypothesis for property testing
  .gitignore
  pyproject.toml
  uv.lock
Due: none

test(skills): add property-based tests for models
  tests/skills/test_screen_recorder_properties.py
Due: lint-python

test(skills): add video fixtures for testing
  tests/fixtures/sample.mov
  tests/fixtures/short.mov
  tests/fixtures/static.mov
Due: none

refactor(tests): apply linter fixes to test files
  tests/skills/test_screen_recorder.py
  tests/skills/test_screen_recorder_actions.py
  tests/skills/test_screen_recorder_conversion.py
  tests/skills/test_screen_recorder_core.py
  tests/skills/test_screen_recorder_integration.py
  tests/skills/test_screen_recorder_properties.py
  tests/skills/test_screen_recorder_verification.py
  tests/skills/test_space_finder.py
  tests/skills/test_verified_screenshot.py
Due: lint-python

fix(tests): use tuple for WindowInfo.cmdline
  tests/skills/test_window_controller.py
Due: lint-python

docs(skills): fix CLI syntax, bump to 1.0.0
  .claude/skills/macos-screen-recorder/SKILL.md
  .claude/skills/macos-screen-recorder/screen_recorder/core.py
  .claude/skills/macos-space-finder/pyproject.toml
  .claude/skills/macos-verified-screenshot/SKILL.md
  .claude/skills/macos-verified-screenshot/pyproject.toml
  .claude/skills/macos-window-controller/SKILL.md
  .claude/skills/macos-window-controller/pyproject.toml
  uv.lock
Due: lint-python

feat(screen-recorder): add region recording
  .claude/skills/macos-screen-recorder/SKILL.md
  .claude/skills/macos-screen-recorder/screen_recorder/actions.py
  .claude/skills/macos-screen-recorder/screen_recorder/cli.py
  .claude/skills/macos-screen-recorder/screen_recorder/models.py
  tests/skills/test_screen_recorder.py
Due: lint-python

feat(screen-recorder): add --preview-region flag
  .claude/skills/macos-screen-recorder/SKILL.md
  .claude/skills/macos-screen-recorder/screen_recorder/__init__.py
  .claude/skills/macos-screen-recorder/screen_recorder/actions.py
  .claude/skills/macos-screen-recorder/screen_recorder/cli.py
Due: lint-python

feat(screen-recorder): add Space-aware recording
  .claude/skills/macos-screen-recorder/screen_recorder/__init__.py
  .claude/skills/macos-screen-recorder/screen_recorder/actions.py
  .claude/skills/macos-screen-recorder/screen_recorder/core.py
  .claude/skills/macos-space-finder/space_finder/__init__.py
  .claude/skills/macos-space-finder/space_finder/actions.py
  tests/skills/test_screen_recorder_integration.py
Due: lint-python

docs(screen-recorder): add Space-aware docs
  .claude/skills/macos-screen-recorder/SKILL.md
Due: none

feat(skills): add Space return after capture
  .claude/skills/macos-screen-recorder/screen_recorder/actions.py
  .claude/skills/macos-window-controller/window_controller/actions.py
  tests/skills/test_screen_recorder_integration.py
Due: lint-python

style(skills): apply ruff formatting
  .claude/skills/macos-screen-recorder/screen_recorder/actions.py
  .claude/skills/macos-screen-recorder/screen_recorder/cli.py
  .claude/skills/macos-screen-recorder/screen_recorder/core.py
  .claude/skills/macos-screen-recorder/screen_recorder/models.py
  .claude/skills/macos-space-finder/space_finder/cli.py
  .claude/skills/macos-verified-screenshot/verified_screenshot/cli.py
  tests/skills/test_screen_recorder.py
  tests/skills/test_screen_recorder_actions.py
  tests/skills/test_screen_recorder_core.py
  tests/skills/test_screen_recorder_integration.py
  tests/skills/test_screen_recorder_properties.py
  tests/skills/test_screen_recorder_verification.py
  tests/skills/test_space_finder.py
  tests/skills/test_verified_screenshot.py
  tests/skills/test_window_controller.py
Due: lint-python

feat(skills): add ocr-finder and ui-inspector
  .claude/skills/macos-ocr-finder/ocr_finder/__init__.py
  .claude/skills/macos-ocr-finder/ocr_finder/__main__.py
  .claude/skills/macos-ocr-finder/ocr_finder/actions.py
  .claude/skills/macos-ocr-finder/ocr_finder/cli.py
  .claude/skills/macos-ocr-finder/ocr_finder/core.py
  .claude/skills/macos-ocr-finder/ocr_finder/models.py
  .claude/skills/macos-ocr-finder/pyproject.toml
  .claude/skills/macos-ui-inspector/pyproject.toml
  .claude/skills/macos-ui-inspector/ui_inspector/__init__.py
  .claude/skills/macos-ui-inspector/ui_inspector/__main__.py
  .claude/skills/macos-ui-inspector/ui_inspector/actions.py
  .claude/skills/macos-ui-inspector/ui_inspector/cli.py
  .claude/skills/macos-ui-inspector/ui_inspector/core.py
  .claude/skills/macos-ui-inspector/ui_inspector/models.py
  pyproject.toml
  uv.lock
Due: lint-python

test(ocr-finder): add comprehensive tests
  .claude/skills/macos-ocr-finder/ocr_finder/cli.py
  tests/skills/test_ocr_finder.py
Due: lint-python
